<h1>Movies</h1>

<% @movies.each do |movie| %>
  <h3><%= movie.title %></h3>
  <p><strong>Director:</strong> <%= movie.director %></p>
  <p><strong>Rate:</strong> <%= movie.rate %></p>
  <hr/>
<% end %>
 
